.white-text {
  color: white;
}
.coral {
  background-color: coral;
}
.dark-bg {
  background-color: #525252;
}
.lines {
  margin-bottom: 4vw;
}
.margin-b {
  margin-bottom: 1vw;
}
.padding-top {
  padding-top: 4vw;
}
.padding-tb {
  padding: 2vw 0;
}
