/* Your style goes here */
body {
  padding: 0;
  font-size: 2em
}

button {
  background-color: #aaee55;
  padding: 1vw 2vw;
  width: 10vw;
  border-radius: 5px;
  text-align: center;
  margin-top: 5vw;
}

.game {
  width: 70%;
  margin: 5vw auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.players {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vw;
  text-align: center;
}

#playerScore, #compScore {
  display: block;
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  border-radius: 50%;
  background-color: red;
}

@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}

.allert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 20vw;
  background-color: green;
  display: none;
  line-height: 20vw;
  text-align: center;
  font-size: 2em;
  transition: all 1s ease;
  animation-name: show;
  animation-duration: 1s;
}
.won {
  background-color: #aaee77;
}

.loose {
  background-color: #eb4132;
}

.draw {
  background-color: #ccdd33;
}

#gameField {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 30vw;
  height: 30vw;
  background-color: orangered;
}

.block {
  box-sizing: border-box;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  text-align: center;
  border: 2px solid white;
}
