
.flex {
  display: flex;
  align-items: center;
}

table {
  border: 5px solid #F0FFFF;
  border-radius: 20px;
}

thead {
  background-color: #98FB98;
  height: 80px;
}

tbody {
  background-color: #F0FFFF;
}

tbody tr:hover {
  opacity: .5;
}
tbody tr:nth-child(odd) {
  background-color: #5F9EA0;
}
thead tr td{
  padding: 20px;
}
td span {
  padding: 10px;
  font-size: 30px;
  vertical-align: middle;
}
td span:hover {
  cursor: pointer;
}
td img{
  height: 30px;
  width: 50px;
}
td {
  text-align: center;
  height: 50px;
}
