* {
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
}

.calculator {
  width: 50%;
  height: 70%;
  font-size: 1.5em;
}

.calculator__inner {
  width: 80%;
  height: 100%;
  background-color: darkgray;
  border: 2px solid;
  border-radius: 7px;
  padding: 10%;
  box-shadow: 10px 10px 30px 1px black;
}

.calculator__display {
  height: 4vw;
  line-height: 4vw;
  background-color: white;
  margin-bottom: 5%;
  padding-right: 1vw;
  text-align: right;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 7vw);
  grid-template-rows: repeat(5, 7vw);
  background-color: lightblue;
}

.calculator__btn {
  display: table-cell;
  text-align: center;
  line-height: 7vw;
  border: 2px solid darkgray;
  box-shadow:0px 0px 0px 1px black inset;
}

ul {
  width: 100%;
}

li {
  list-style-type: none;
  line-height: 10vw;
  width: 100%;
  margin-bottom: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results {
  width: 30vw;
  margin-left: 5vw;
  overflow: auto;
}

.redCircle {
  display: inline-block;
  height: 2vw;
  width: 2vw;
  border: 2px solid red;
  border-radius: 50%;
}

.redCircle:hover {
  cursor: pointer;
  background-color: red;
}

.chriss:hover {
  cursor: pointer;
}

.redText {
  color: red;
}

.redBackground {
  background-color: red;
}

.textDecoration {
  text-decoration: underline;
}
