body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: .5vw 0;
  color: darkgray;
}

button:hover {
  background-color: rgb(118, 205, 216);
}

blockquote {
  font-style: italic;
  color: darkgray;
}

.scalable:hover {
  transform: scale(1.1);
}

.scalable, button, .third-section__item-inner, .advanced {
  transition: all .5s ease;
}

.wrapper {
  background-color: #f4f4f4;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.section {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.first-section__item {
  width: 50%;
  height: 50vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.white-text{
  color: white;
}

.first-section__item--blue {
  background-color: #76cdd8;
}

.first-section__round-img-wrapper {
    overflow: hidden;
    width: 66%;
    padding-bottom: 66%;
    height: 0;
    position: relative;
}

.first-section__round-img {
    width:100%;
    height:100%;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.item-title {
  color: #76cdd8;
}

.first-section__img {
  min-width: 100%;
  min-height: 100%;
}

.triangle-right, .triangle-left {
  position: relative;
}

.triangle-right::after, .triangle-left::after {
  content: '';
  position: absolute;
}

.triangle-left:hover::after {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70px 70px 0 0;
  border-color: #76cdd8 transparent transparent transparent;
}

.triangle-right:hover:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0;
  border-color: transparent #76cdd8 transparent transparent;
}

.triangle-left::after, .triangle-right::after {
  transition: border-width .5s ease;
}

.btn {
  display: block;
  color: white;
  border: none;
  background-color: #019999;
  font-size: 1em;
  padding: .5em 1.4em;
}

.btn-right {
  align-self: flex-end;
}

.second-section__text {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.second-section__img {
  width: 30%;
}

.second-section__img img {
  object-fit: cover;
  height: 100%;
  max-width:100%;
  max-height:100%;
}

.third-section__item {
  width: 33.33%;
  padding: 2vw;
}

.third-section__item img {
  object-fit: cover;
  height: 100%;
  max-width:100%;
  max-height:100%;
}

.third-section__item-inner {
  color: #019999;
  border: 2px solid;
}

.third-section__item-inner:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.third-section__item-plan {
  text-align: center;
  background-color: #019999;
  padding: 1vw;
  margin: -1px;
}

.third-section__item-desc {
  padding: 1vw;
}

.advanced:hover {
  transform: scale(1.1);
}

.advanced:hover #special-discount {
  display: block;
  color: black;
  text-align: center;
  margin: 0;
}

#special-discount {
  display: none;
}
 #special-discount span {
   color: red;
 }

.no-padding {
  padding: 0;
}

.center {
  margin: 0 auto;
}

.form__header {
  background-color: #23d4d4;
  height: 30vh;
}

.form__header h3 {
  width: 70%;
  margin: 2vw auto;
  padding: 3vw;
}

.form__main {
  height: 35vh;
  position: relative;
}

.form__inner {
  width: 70%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form__inner-wrapper {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__field {
  width: 48%;
}

.form__select, .form__input, .message {
  display: block;
  width: 100%;
  color:  darkgray;
  border: 2px solid;
  border-radius: 3px;
  padding: 1vw;
  margin-bottom: 2vw;
}

.form__select, .form__input {
  height: 3em;
}

.message {
  height: 60%;
}

.form__field>:focus {
  outline: none;
  border: 2px solid #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__footer {
  min-height: 30vh;
  background-color: #019999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__footer-item {
  width: 30%;
  margin-right: 2vw;
  padding: 10% 0;
}
