* {
  margin: 0;
  padding: 0; }

body {
  color: #ffffff;
  background-color: #21232e; }

p, a {
  font-family: 'Hind', sans-serif; }

.header {
  background: url("../img/m-h-night.jpg") 90% 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  border-radius: 0 0 30% 0; }

.header-wrap {
  width: 30%;
  margin: 40px 0 40px 100px;
  padding-top: 20px; }

.flex {
  display: flex; }

.between {
  justify-content: space-between; }

.landing-logo, .footer_logo {
  display: flex;
  align-items: center; }
  .landing-logo img, .footer_logo img {
    display: block;
    margin-right: 5px; }
  .landing-logo p, .footer_logo p {
    font-size: 15px;
    font-weight: bold;
    line-height: 0.7; }
    .landing-logo p span, .footer_logo p span {
      font-size: 10px;
      font-weight: normal; }

.header_heading {
  font-family: 'Hind', sans-serif;
  font-size: 50px;
  letter-spacing: 0.2;
  font-weight: bold;
  margin: 30px 0; }
  .header_heading span {
    background-color: #ff4e33; }

button {
  width: 100px;
  height: 30px;
  background-color: #e3ac00;
  border: 1px solid #e3ac00;
  border-radius: 3px;
  color: #ffffff; }

a {
  color: #ffffff; }

.header_text {
  margin-bottom: 30px; }

.section {
  width: 50%;
  margin: 0 auto; }

.section_text {
  width: 50%;
  margin: 30px auto;
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.3; }
  .section_text span {
    background-color: #ff4e33; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.section_card {
  background-color: #3b3f50;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
  justify-content: space-around;
  align-items: center; }
  .section_card img {
    border-radius: 5px;
    height: 230px;
    width: 35%; }
  .section_card .section_card_right_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 70%;
    padding: 20px 40px; }
    .section_card .section_card_right_container p {
      color: #ffffff; }
    .section_card .section_card_right_container .section_card_heading {
      font-size: 20px;
      font-weight: bold;
      color: #ffffff; }

.section_banner {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  position: relative;
  bottom: -100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background: linear-gradient(to right top, #e3ac00, #ff4e33); }
  .section_banner span {
    background-color: #ff4e33; }

.section_banner_heading {
  font-size: 27px;
  font-weight: bold; }

.section_banner_text {
  color: #ffffff; }

.footer {
  width: 80%;
  margin: 0 auto; }

.footer-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
  padding-bottom: 60px;
  background-color: #3b3f50; }

.footer_logo {
  color: #ffffff; }

.footer_text, .footer-cr {
  color: #ffffff; }
