:root {
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

* {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark);
}

 h2, .bio__subscribe {
   font-weight: bold;
 }

 p {
   margin: 1vw 0;
 }

 li {
   list-style-type: none;
   display: inline;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 i {
   font-size: 1.5em;
 }

.header img {
  width: 100px;
}

.container-border {
  box-shadow: 0 0 10px darkgray;
  height: 100%;
}

.main-container {
  width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 10vw;
  grid-gap: 1vw;
  background-color: var(--light);
}

.header {
  background-color: var(--light);
  grid-column: 1/4;
  grid-row: 1/2;
}

 .logo {
   margin: 1vh auto;
   text-align: center;
   font-style: italic;
 }

 .logo__title {
   font-family: var(--secondary-font);
 }

.gallery {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 1vw;
  padding: 2vw;
}

.gallery div {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.gallery__1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.gallery__2 {
  grid-column: 2/3;
  grid-row: 1/4;
}

.gallery__3 {
  grid-column: 3/4;
  grid-row: 1/6;
}

.gallery__4 {
  grid-column: 1/2;
  grid-row: 3/7;
}

.gallery__5 {
  grid-column: 2/3;
  grid-row: 4/6;
}

.gallery__6 {
  grid-column: 1/2;
  grid-row: 7/10;
}

.gallery__7 {
  grid-column: 2/3;
  grid-row: 6/9;
}

.gallery__8 {
  grid-column: 3/4;
  grid-row: 6/8;
}

.gallery__9 {
  grid-column: 1/2;
  grid-row: 10/12;
}

.gallery__10 {
  grid-column: 2/3;
  grid-row: 9/13;
}

.gallery__11 {
  grid-column: 3/4;
  grid-row: 8/13;
}

.gallery img {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bio {
  position: sticky;
  top: 0;
  height: max-content;
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: .9em;
  text-align: center;
  padding: 1vw;
}

.avatar-container {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  grid-column: 1/4;
  grid-row: 3/4;
}
.footer img {
  width: 70px;
}

.footer .logo {
  font-size: .8em;
}

@media (max-width: 768px) {
  .main-container {
    width: 96%;
    display: block;
  }
  .header img {
    width: 60px;
  }
  .gallery {
    display: block;
  }
  .gallery div {
    margin: 6vw 1vw;
  }
  .bio {
    position: static;
  }
}
