* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
body {
  width: 80%;
  margin: 0 auto;
}
header * {
  color: white;
}
.filter {
  text-align: center;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1% 2%;
}
.header {
  background: url('../img/apples.jpg') 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.navigation-wrap {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.navigation-logo {
  text-transform: uppercase;
}
.links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .links {
    min-width: 80%;
  }
  body, .row>p, .picture-wrapper {
    min-width: 100%;
  }
  .footer-column {
    min-width: 50%;
  }
  .filter {
    padding: 1%;
  }
  .likes {
    font-size: 0.7em;
  }
  .dark-button {
    padding: 0;
  }
  .row, .footer-wrapper {
    flex-wrap: wrap;
  }
}
.links li {
  list-style-type: none;
}
.header-heading {
  width: 60%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-heading h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3em;
  letter-spacing: .2em;
}
.header-heading span {
  font-size: 1.5em;
  font-weight: bolder;
}
.show-more {
  margin-top: 15vh;
}
.section-wrapper {
  display: flex;
  margin: 5vh 0;
}
.gallery-section {
  background-color: #F3F3F3;
  padding-bottom: 2.5%;
}
.picture-wrapper {
  background-size: cover;
  max-width: 60%;
  position: relative;
  color: white;
  font-size: .8em;
}
.picture-wrapper img{
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
.section-wrapper p {
  width: 50%;
  padding: 5%;
}
.sub {
  position: absolute;
  margin: 3%;
  bottom: 0;
  left: 0;
}
.likes {
  width: 10%;
  position: absolute;
  margin: 3%;
  top: 0;
  right: 0;
}
.likes::after {
  content: '❤';
  display: inline;
}
.row>p {
  width: 30%;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5vh;
}
h3 {
  width: 40%;
  margin: auto;
  padding: 8vh 0;
  text-align: center;
  font-weight: 400;
}
h4 {
  font-weight: bold;
}
h3 span {
  font-weight: bold;
}
.subscribe {
  margin-bottom: 5vh;
}
.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3vh 1vh;
  width: 92.5%;
  margin: 0 auto;
}
.send-email {
  width: 80%;
  display: flex;
}
.input-email {
  width: 70%;
  padding: 1% 3%;
  border: 1px solid #343638;
}
.dark-button {
  text-align: center;
  box-sizing: content-box;
  background-color: #343638;
  border: 1px solid #343638;
  padding: 1% 3%;
  color: white;
}
.footer-wrapper {
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  margin: 2vh auto;
}
.footer-column {
  width: 22%;
  padding-bottom: 10vh;
}
.footer-column p {
  margin: 1vh 0;
  color: #9E9E9E;
}
.button-small {
  width: 30%;
}
.button-big {
  width: 15%;
}
hr {
  height: 2px;
  width: 92.5%;
  margin: 0 auto;
  color: #9E9E9E;
}
.navigation-wrap.gray-color {
  color: #9E9E9E;
}
