@media print {
  .tm-sidebar,
  .heading,
  .blocks,
  .ideas,
  section.tm-content-box,
  .carousel,
  #about {
    display: none;
  }
  .flex-item img {
    width: 150px;
    height: 150px;
  }
  .flex-2-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

li.box.box-bg :hover {
  background-color: lightskyblue;
}
.tm-content-box,
.tm-main-nav {
  box-shadow: 0px 0px 10px #6b6b6b;
}
p:first-letter {
  color: lightskyblue;
  font-size: 30px;
}
.tm-banner-inner {
  outline: 100px solid #F5F5F5;
}
.flex-2-col {
  display: flex;
}
section {
  position: relative;
}
section::before{
  content: "";
  position: absolute;
  border: 30px solid transparent;
  border-top: 0px solid transparent;
  border-left: 215px solid lightskyblue;
}
.active h2 {
  color: gainsboro;
  letter-spacing: 5px;
}
h2~p:first-of-type {
  font-style: italic;
}
.heading a:visited {
  color: black;
  text-decoration: underline;
}
.heading a:hover {
  border-bottom: 1px double;
  color: lightskyblue;
}
ol .text::after{
  content: "New";
  color: red;
  vertical-align: super;
  font-size: 10px;
}
.gallery-container li:nth-child(even){
  background-color: #F5F5F5;
}
.mandatory-field::after {
  color: red;
  font-size: inherit;
  content: "*";
  margin: 0 auto;
}
.submit-btn {
  background-color: white;
  color: lightskyblue;
  border: 1px solid lightskyblue;
  border-radius: 0;
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
}
.submit-btn:hover {
  background-color: lightskyblue;
  color: white;
  border-color: lightskyblue;
}
.tm-nav-item:hover {
  background-color: #F5F5F5;
}
