$bgcolor: #21232e;
$header: url('../img/m-h-night.jpg');
$header-text: #ffffff;
$main-text: #ffffff;
$card-text: #ffffff;
$span: #ff4e33;
$card: #3b3f50;
$btn: #e3ac00;
@mixin button {
  width: 100px;
  height: 30px;
  background-color: $btn;
  border: 1px solid $btn;
  border-radius: 3px;
  color: #ffffff;;
}
@mixin link {
  color: #ffffff;
}
