$bgcolor: white;
$header: url('../img/m-h-day.jpg');
$header-text: #2c2f3c;
$main-text: white;
$card-text: #b6c3ce;
$span: #14a0c7;
$card: #21232e;
$btn: #699900;
@mixin button {
  width: 100px;
  height: 30px;
  background-color: $btn;
  border: 1px solid $btn;
  border-radius: 3px;
  color: $main-text;
}
@mixin link {
  color: $main-text;
}
