* body {
  margin: 0;
  padding: 0;
}
table {
  margin: 0 auto;
}
#task1 td {
  width: 100px;
  height: 100px;
  border: 1px solid;
  text-align: center;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
  width: 40%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
#success {
   height: 100px;
   display: flex;
   margin-bottom: 10px;
}
#success p{
  text-align: center;
  margin: auto;
}
#task2 input {
  width: 80%;
}
#task2 button {
  float: right;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
  width: 40%;
  margin: 200px auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.container {
  position: relative;
  height: 350px;
}
#court {
  position: absolute;
  left: 0px;
  top: 0px;
}
#ball {
  position: absolute;
  left: 280px;
  top: 145px;
}
.gateA, .gateB {
  width: 15px;
  height: 15px;
  z-index: 1;
}
.positionForGates {
  top: 157px;
  left: 30px;
  position: relative;
}
.flex.positionForGates {
  width: 535px;
}

/* END: Task 3 Styles */
