li {
  list-style-type: none;
}

span, input {
  display: block;
}

#status {
  text-align: center;
  color: green;
}

.main {
  width: 60%;
  height: 70vh;
  margin: auto;
  position: relative;
}

#messages {
  display: flex;
  flex-direction: column;
}

.message__block {
  width: 30%;
}

.message_right {
  align-self: flex-end;
}

.message_left {
  align-self: flex-start;
}

#message {
  display: inline-block;
  width: 100%;
}

.newMessage {
  background-color: lightblue;
  border-radius: 3px;
  padding: 5px;
}

#form {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
