/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
a:visited {
  color:#000;
}
.body-wrapper {
  width: 80%;
  margin: 0 auto;
}
header {
  position: relative;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.navigation {
  position: fixed;
  top: 0;
  width: 80%;
}
.nav-container {
  width: 100%;
  min-height: 7vh;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  width: 80%;
  justify-content: flex-end;
}
nav li {
  display: block;
  margin: 0 1%;
  text-transform: uppercase;
}
.header-offset {
  padding-top: 10vw;
}
.header-wrapper {
  background: url('../img/lady.jpg') 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
}
.header-text-wrapper {
  width: 50%;
  flex-direction: column;
}
.header-subscribe {
  color: gray;
  margin: 5% 0;
}
.buttons {
  width: 60%;
}
.fas::before, .fa-solid::before {
  padding: 1vw;
  border-radius: 50%;
  background-color: #0078aa;
  font-size: 1.5em;
  color: white;
}
.fas:hover:before, .fa-solid:hover:before {
  background-color: white;
  color: #0078aa;
}
.fixed-button {
  position: fixed;
  bottom: 10vw;
  right: 10vw;
}
.two-column {
  justify-content: space-between;
  padding: 5vh 0;
}
.column50 {
  width: 48%;
}
.column50 img {
  max-width: 100%;
  object-fit: cover;
}
.about-container {
  width: 60%;
  flex-direction: column;
}
.about__title {
  text-align: left;
}
.about__subscribe {
  color: #0078aa;
  text-transform: uppercase;
}
.service {
  font-weight: bold;
}
.service::before {
  content: '🢥 '
}
.help-wrapper {
  background-image: url('../img/services_bg.jpg');
  background-size: 100% 100%;
  background-position: center;
}
h2 {
  padding-top: 4vw;
  font-size: 1.5em;
  text-align: center;
}
.read-more {
  text-align: center;
  text-transform: uppercase;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  padding: 5vh 0;

}
.medicine-item{
  width: auto;
  background-color: white;
}
.medicine-item-desc {
  bottom: 0;
  margin: 5%;
}
.medicine-item img {
  width: 30%;
  margin: 5%;
}
.offers-wrapper {
  background: url('../img/pricing_bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: green;
}
.column33 {
  width: 33.33%;
  background-color: #47c9e5;
  border: 2px solid #47c9e5;
  color: white;
}
.column-higher {
  padding: 5% 0;
}
.column33 p {
  text-align: center;
  margin: 5% 0;
}
.offer-btn {
  display: block;
  margin: 0 auto 7%;
  background-color: white;
  color: #0078aa;
  border: 2px solid;
  border-radius: 10px;
  padding: 2%;
}
.offer-name {
  font-size: 1.5em;
  font-weight: bold;
}
.offer-price {
  font-size: 2em;
  font-weight: bold;
}
.offer-treatments {
  font-style: italic;
}
.align {
  align-items: center;
  padding: 5vh 0;
}
.white {
  background-color: white;
  color: #0078aa;
}
.align-start {
  text-align: left;
}
form {
  margin-top: 3vh
}
input {
  display: block;
  width: 100%;
  border: none;
  color: gray;
  border-bottom: 2px solid;
  font-style: italic;
  font-size: .8em;
  padding-left: .3em;
  font-weight: 100;
  height: 5vw;
}
.input-email {
  border: none;
}
.dark-btn {
  background-color: #0078aa;
  margin: 3vh 0 0;
  color: white;
}
footer {
  color: white;
  background-color: gray;
  height: 7vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  h1, h2, p, .align-start {
    margin: 0 auto;
    text-align: center;
  }
  form {
    width: 80%;
    margin: 0 auto;
  }
  section.flex, .about-container, .container.flex.align {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .column33, section .column50, .about-container, .body-wrapper, .navigation, .header-text-wrapper, .buttons {
    width: 100%;
  }
  section img {
    max-width: 100%;
  }
  .buttons {
    justify-content: center;
  }
  .container {
    width: 90%;
  }
  .header-wrapper {
    height: auto;
  }
  .header-text-wrapper {
    margin: 0 auto;
  }
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    justify-content: space-between;
  }
  ul li {
    font-size: .7em;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
}
