.field {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 4px solid #fff;
	cursor: pointer;
	margin: 5px;
	transition: .2s;
	overflow: hidden;
	box-shadow: 3px 3px 5px #000;
	outline: none;
	&.active {
		background-color: green;
	}
	&.error {
		background-color: red;
	}
}
.result {
	text-align: center;
}
.comp-field {
	justify-content: flex-end;
	&.blink {
		animation-play-state: paused;
		.rock {
			animation: blink 0.3s linear infinite;
		}
		.scissors {
			animation: blink 0.3s 0.1s linear infinite;
		}
		.paper {
			animation: blink 0.3s 0.2s linear infinite;
		}
	}
	&::before {
		content: "Компьютер:";
		display: block;
		width: 100%;
		font-size: 20px;
		text-align: center;
	}
}
	
