.rock {
	background: url(../img/rock.png) center no-repeat;
}
.scissors {
	background: url(../img/scissors.png) center no-repeat;
}
.paper {
	background: url(../img/paper.png) center no-repeat;
}
@keyframes {
	blink {
		100% {background-color: green;
	}
}
} {
	.buttons {
		padding: 20px 15px;
		text-align: center;
	}
}
.buttons {
	button {
		margin: 0 8px;
		cursor: pointer;
		border: none;
		border-radius: 30px;
		color: #fff;
		text-transform: uppercase;
		padding: 10px 20px;
		font-weight: bold;
		font-size: 16px;
		box-shadow: 2px 3px 0 #0c4e00;
		transition: .2s;
		outline: none;
	}
}
.buttons button:hover,
.buttons button:active {
	transform: translate(1px,1px);
	box-shadow: 1px 1px 0 #0c4e00;
}
.play {
	background: linear-gradient(180deg, #00cb48, #126e01);
}
@media(max-width {
	&:700px) {
		.game {
		padding: 10px;
	}
}
.user-field,
	.comp-field {
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.user-field {
	margin-bottom: 20px;
	&::before {
		content: "Игрок:";
		display: block;
		width: 100%;
		font-size: 20px;
		text-align: center;
	}
}
